.work__ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  font-size: 15px;
  gap: 30px;
  list-style: none;
  width: 100%;
}

.work__ul div {
  color: gray;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 597;
  display: flex;
  justify-content: start;
  align-items: center;
}

.work__ul li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.work__ul div ion-icon {
  font-size: 50px;
  color: rgb(222, 170, 0);
}

.work__ul p {
  font-size: 15px;
  letter-spacing: 1px;
}
